:root {
  --nat-navbar-bg: rgb(62, 99, 62);
  --nat-navbar-bg-rgb: 62, 99, 62;
  --nat-navbar-text-color: black;
  --nat-navbar-highlight-text: white;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.custom-navbar {
  background-color: var(--nat-navbar-bg) !important;
  color: var(--nat-navbar-text-color);
}

.custom-navbar .nav-link {
  position: relative;
  color: var(--nat-navbar-text-color);
}

.custom-navbar .nav-link:hover,
footer a:hover {
  color: var(--nat-navbar-highlight-text);
}

.custom-navbar .nav-link:not(:first-child) {
  border-left: 2px solid #000000;
  padding-left: 0.75rem;
}

footer a {
  color: var(--nat-navbar-text-color);
  text-decoration: none;
}